meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
//  mobile metas 
meta(name="viewport", content="width=device-width,initial-scale=1")
meta(name="viewport", content="initial-scale=1,maximum-scale=1")
script(src="https://kit.fontawesome.com/254728b4de.js", crossorigin="anonymous")
//- script(src="/static/js/search.js") 
//- link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
//- script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous")
link(rel="stylesheet", href="CSS/search.css")
//  Header 
.outerbox
  .header
    nav.navbar
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href="/home") Home
        li.nav-item
          a.nav-link(href="/search") Search
        li.nav-item
          a.nav-link For Teachers
        li.nav-item
          a.nav-link For Students
        li.nav-item
          a.nav-link Contact Us
      //- li.log(href="#")
      //-   .logdiv
      //-     button#login.nav-login
      //-       i.fas.fa-sign-in-alt
      //-       | Login
      //-     //  <a id="logintext" class="nav-login" href="#">Login</a> 
      //-     #dropdownmenu
      //-       form#loginform(method="post", name="loginform", action="/process-login.asp")
      //-         input.input#username(type="text", placeholder="Username", name="username")
      //-         input.input#password(type="password", placeholder="Password", name="password")
      //-         button.login-in(href="#") Login
      //-         a(href="#") Forgot Password?
      //- li.log(href="#")
      //-   button#register.nav-login
      //-     i.fas.fa-user-plus
      //-     | Register
  .hero
    .container
      h1 Find Your Online Tutor
      p Please enter the relevant information into the sections below. This will enable us to locate tutors who both specialise in the subject you require, and are in close proximity to you.
      form.search-form(method="get")
        .search
          .searchhome
            if searcharray1!=null 
              input#subject.input(name="subject", placeholder="Enter a Subject",value=searcharray1.subname1)
            else 
              input#subject.input(name="subject", placeholder="Enter a Subject")  
          .searchhome
            if searcharray1!=null 
              input#postalcode.input(name="postalcode", placeholder="Enter your Postal-code",value=searcharray1.poscode1)
            else 
              input#postalcode.input(name="postalcode", placeholder="Enter your Postal-code")
          .searchhome
            if searcharray1!=null 
              input#stuaddress.input(name="stuaddress", placeholder="Enter your Address",value=searcharray1.studentaddress1)
            else 
              input#stuaddress.input(name="stuaddress", placeholder="Enter your Address")
          .searchhome1
            select#searchlevel(name="searchlevel")
              option(value="" ,selected) Select Level
              option(value="1to5") class 1 to 5
              option(value="5to9") class 5 to 9
              option(value="c10") class 10
              option(value="c12") class 11 & 12
              option(value="degree") Degree 
              option(value="adult") Adult Learner
          .searchcolbut
          button(type="submit")#searchbtns.search-button SEARCH
//  Search results 
.main-container
  .searchResult-container
    .filters-block
        h2 Filters
        form(method="get")
          .filteritems
            h3 price Range
            select.choosedropdown(name="priceselect")  
                option(value="nun" selected) Select Price Range
                option(value=`{"$gt":0,"$lt":1000}`)   < ₹1000
                option(value=`{"$gt":1000,"$lt":5000}`)  ₹1000 to ₹5000
                option(value=`{"$gt":5000,"$lt":10000}`) ₹5000 to ₹10000
          .filteritems
            h3 Tutor Ratings
            select.choosedropdown(name="tutorratingselect") 
                option(value="nun" selected) Select Ratings
                option(value="1")   1★ & above
                option(value="2")   2★ & above
                option(value="3")   3★ & above
                option(value="4")   4★ & above
          .filteritems
            h3 Distance
            select.choosedropdown(name="distancebtwn") 
                option(value="nun" selected) Select Distance
                option(value="500")   < 500 meters
                option(value="1000")   < 1000 meters
                option(value="2000")   < 2 km
                option(value="5000")   < 5 km
                option(value="10000")   < 10km
          input#choosedropdownbtn(type="submit" value="Find") 
    //  1 
    .search-results
     if indicator
      
     else if records==""
      .nodatamssg#nodatamssbox 
        p= message
     else
      each dat in records 
        .search-resultsBox
          .imagebox
            img(src="images/tutor.png", alt)
          .detailbox    
            .headingAndRating
              h3= dat.firstname
              h4
              i.fas.fa-star= " " + dat.rating
              |   
            p.detailboxdesc= dat.about
            .cityname
              i.fa.fa-compass= " " + dat.town + " , " + dat.state
            h4.detailboxtutorcharge= "Charges " + dat.fees + "/month"
            form(action="/tutordescpage", method="get") 
              input(type="text",name="username",value=dat.username,style="display:none")
              button.tutordescbtn(type="submit") View Profile
      //  end of data 
//  For Login box open close (homepage) 
// alert("working");
//- script. 
  let dropdownBtn = document.getElementById('login');
      let dropdownmenu = document.getElementById('dropdownmenu');
      dropdownBtn.addEventListener('click',()=>{
         if(dropdownmenu.style.display===""){
          dropdownmenu.style.display="block";
          dropdownBtn.style.borderBottomLeftRadius="0px";
          dropdownBtn.style.borderBottomRightRadius="0px";
          dropdownBtn.style.borderTopLeftRadius="18px";
          dropdownBtn.style.borderTopRightRadius="18px";
          dropdownBtn.style.backgroundColor="white";
          dropdownBtn.style.borderBottom="none";
          dropdownBtn.style.height="45px";
          // dropdownBtn.style.background-color="white";
         } else {
          dropdownmenu.style.display="";
          dropdownBtn.style.border="0.8px solid  rgb(61, 69, 73)";
          dropdownBtn.style.borderBottomLeftRadius="50px";
          dropdownBtn.style.borderBottomRightRadius="50px";
          dropdownBtn.style.borderTopLeftRadius="50px";
          dropdownBtn.style.borderTopRightRadius="50px";
          dropdownBtn.style.height="35px";
         }
      })
