meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="CSS/stuedit.css")
script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
title Edit Profile
.header
  nav.navbar
    ul.navbar-nav
      li.nav-item.active
        a.nav-link(href="/home") Home
      li.nav-item
        a.nav-link(href="/search") Search
      li.nav-item
        a.nav-link(href="service.html") For Teachers
      li.nav-item(href="#")
        a.nav-link(href="blog.html") For Students
      li.nav-item(href="#")
        a.nav-link(href="contact.html") Contact Us
.container
 form(method="post" action="/view-profile") 
  .photo
    #profile-container
      img#profileImage(src="../images/fin-plus.png")
      input#imageUpload.profile(type="file", name="profile_photo", placeholder="Photo",capture)
  .firstbox
    .div1
      h3.label First Name
      input#fname.fname(type="text", maxlength="25" name="first_name",value=studata.firstname) 
      |
      h3.label Gender
      select#gender(name="gender")
        option(value="male") Male
        option(value="female") Female
        option(value="others") Others
      |
      h3.label Address 1
      textarea#add1(name="address1", cols="35", rows="3" )= studata.address1
      |
      h3.label Town/City
      input.town#town(type="text", name="town",value=studata.town)
      |
      h3.label Country
      input#country.country(type="text",name="country",value=studata.country)
      |
    .div2
      h3.label Last Name
      input#lname.lname(type="text", maxlength="25",name="last_name",value=studata.lastname)
      |
      h3.label Phone Number
      input.phone#phone(type="number", maxlength="10" ,name="phone",value=studata.phone)
      |
      h3.label Address 2
      textarea#add2(name="address2", cols="33", rows="3")= studata.address2
      |
      h3.label State
      input.town#town(type="text",name="state",value=studata.state)
      |
  .secondbox
    .div3
      h3.label Class
      input.std#std(type="text",name="class",value=studata.class)
      |
      h3.label Your Subject
      input.sub1#sub1(type="text", placeholder="Subject 1" , name="subjectname",value=studata.subject)
      |
    .div4
      h3.label Bio
      textarea#bio(cols="35", rows="3", name="desc")= studata.about 
      |
  button.submit(type="submit")  Submit



script.
  $("#profileImage").click(function (e) {
        $("#imageUpload").click();
    });
  
  function fasterPreview(uploader) {
    if (uploader.files && uploader.files[0]) {
      $('#profileImage').attr('src',window.URL.createObjectURL(uploader.files[0]));
      }
    }
  
    $("#imageUpload").change(function () {
      fasterPreview(this);
    });